@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
    font-family: Georgia, Times, sans-serif;
    
    background-image: url(../images/fishbowl.jpg);
    background-size: 1.3rem;
}

hr  {
    border: solid 16px #33CCFF;
    margin-top: -.5rem;
    margin-bottom: -.1rem
}

body { 
    margin-right: 2rem;
    margin-left: 2rem;
    background-color: #33CCFF;
}

header {
    background-image: url(../images/bannerbar.jpg);
    background-size: 30rem;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-right: -2rem;
    margin-left: -2rem;
    height: 5rem
}

.logo {
    height: 6rem;
    width: auto;
    margin-right: 1rem;
    float: right;
    margin: -5.5rem .5rem;
}

article {
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
}

h1  {
    font-family: Century Gothic, Arial Rounded MT, sans-serif; 
    font-weight: normal;
    font-size: 3.5rem;
    text-align: center;
    color: #FF6633;
    text-shadow: 0rem 0rem .05em rgba(150, 0, 0, 1);
}

img     { 
    width: 100% 
}


dl  {
    font-family: Century Gothic, Arial Rounded MT, sans-serif;
    line-height: 3rem;
    text-align:center;
    color: #663300;
    margin: 1.6rem 0rem;
    color: black;
}

dt  {
    /*HELP*/
}

.one  {
    background-color: white;
    margin: 1rem 1.4rem;
    border-radius: .66rem;
    height: 2rem;
    opacity: .4;
    box-shadow: 0rem 0rem .3rem .2rem rgba(0, 100, 150, .2); 
}

h4  {
    font-family: Century Gothic, Arial Rounded MT, sans-serif;
    font-size: 1.3rem;
    font-weight: normal;
    margin-left: 1rem;
    color: cyan;
    text-shadow: .15rem .15rem .05em rgba(0, 0, 0, 1);    
}

dl + p   {
    font-family: Century Gothic, Arial Rounded MT, sans-serif;
    font-weight: bold;
    margin-bottom: 2.6rem;
    text-indent: -1px;
}
 
.dropcap:first-letter {
    font-family: Century Gothic, Arial Rounded MT, sans-serif; 
    font-weight: normal;
    font-size: 4rem;
    text-align: center;
    color: #FF6633;
    text-shadow: 0rem 0rem .03em rgba(150, 0, 0, 1);
    float: left;
    margin: -.6rem .3rem -1.1rem 0;  
}

h2   {   
    font-family: Century Gothic, Arial Rounded MT, sans-serif;
    color: white;
    margin: 2.5rem -.5rem 0;
    opacity: .7;
    border-radius: .4rem;
    text-indent: 8px;
    font-weight: normal;
    text-shadow: .15rem .15rem .06em rgba(0, 0, 200, .3);
    
    
    
}

p   {
    font-family: Goudy Old Style, Palatino, Garamond, serif;
    font-weight: bold;
    text-indent: 8px;
}

.pdrop:first-letter {
        font-family: Century Gothic, Arial Rounded MT, sans-serif;
        font-weight: bolder;
    font-size: 1.1rem;
    margin-right: 1px;
    opacity: .7;
}

summary {
    margin-bottom: 1rem;
    font-family: Century Gothic, Arial Rounded MT, sans-serif;
    font-size: .9rem;
    font-weight: bold;
}





footer  {
      background-image: url(../images/wood.jpg);
    background-size: 10rem;
    overflow: hidden;
    margin: -1rem -2rem;
    height: 4rem
}

footer p    {
    font-family:  Century Gothic, Arial Rounded MT, sans-serif;   
    font-size: 1rem;
    font-weight: normal;
    margin-left: 1rem;
    color: cyan;
    text-shadow: .15rem .15rem .09em rgba(0, 0, 0, 1);
}

footer a    {
    color: orange;   
}




